path/to/your/largefile filter=lfs diff=lfs merge=lfs -text
data/argouml_lsi_similarity.csv filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
